.modal {
    display: none;
    position: fixed;
    z-index: 77777777777777777777;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    &__content{
        background-color: $bg_light_blue;
        padding: 5rem 4rem;
        width: 82rem;
        position: relative;
        border-radius: 2rem;

        @media (max-width: 962px) {
            width: 33rem;
            padding: 3rem 2rem;
        }
    }

    &__close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;

        svg{
            width: 2.3rem;
            height: 2.3rem;
        }
    }

    &__title{
        margin-bottom: 0.8rem;
        color: $text;
        text-align: center;

        @media (max-width: 962px) {
            text-align: left;
            font-size: 2.6rem;
        }
    }

    &__suptitle{
        color: $text;
        margin-bottom: 3rem;
        text-align: center;

        @media (max-width: 962px) {
            text-align: left;
            font-size: 1.6rem;
            margin-bottom: 2.5rem;
        }
    }

    &__form{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    &__form-btn{
        width: 100%;
        padding: 2rem 0 2.2rem;
        border-radius: 4.1rem;
        margin-bottom: 2rem;

        @media (max-width: 962px) {
            margin-bottom: 0;
        }
        
    }

    &__form-input{
        width: 36rem;
        padding: 1.8rem 2rem 2rem;
        border-radius: 4.1rem;
        background-color: $white;
        border: none;
        outline: none;
        font-size: 1.6rem;
    }

    .modal__successfully{
        display: none;
    }

    .modal__error{
        display: none;
     }

    &__form-descr{
        text-align: center;
        width: 100%;

        @media (max-width: 962px) {
            text-align: left;
            font-size: 1.2rem;
        }

        a{
            display: inline;
            color: $primary;
            text-decoration-line: underline;
            text-underline-offset: 0.5rem;

            &:hover{
                color: $hover_yellow;
                transition: all 0.3s;
            }
        }
    }
    
}

.modal__content.successfully{

    .modal__normal{
        display: none;
    }

    .modal__successfully{
        display: block;
        max-width: 60rem;
        margin: auto;
    }

    .modal__title{
        @media (max-width: 962px) {
            text-align: center;
            margin-bottom: 0.8rem;
        }
    }

    .modal__suptitle{
        @media (max-width: 962px) {
            margin-bottom: 2.5rem;
            text-align: center;
        }
    }

    .modal__error{
       display: none;
    }

    img{
        width: 11rem;
        height: 11rem;
        margin-bottom: 3rem;
        margin: 0 auto;
        display: block;
        @media (max-width: 962px) {
            text-align: left;
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }
    }

    .modal__successfully-btn{
        padding: 2rem 3.5rem;
        border-radius: 4.1rem;
        font-weight: 600;
        margin: auto;
        display: block;

        @media (max-width: 962px) {
            width: 100%;
        }
    }

}

.modal__content.error{

    .modal__normal{
        display: none;
    }

    .modal__title{
        @media (max-width: 962px) {
            text-align: center;
            margin-bottom: 0.8rem;
        }
    }

    .modal__suptitle{
        @media (max-width: 962px) {
            margin-bottom: 2.5rem;
            text-align: center;
        }
    }
    
    .modal__successfully{
        display: none;
    }

    .modal__error{
       display: block;
    }

    img{
        width: 11rem;
        height: 11rem;
        margin-bottom: 3rem;
        margin: 0 auto;
        display: block;
        @media (max-width: 962px) {
            margin-bottom: 3rem;
        }
    }

    .modal__successfully-btn{
        padding: 2rem 3.5rem;
        border-radius: 4.1rem;
        font-weight: 600;
        margin: auto;
        display: block;
        @media (max-width: 962px) {
            width: 100%;
        }
    }
}

.input-box{
    @media (max-width: 962px) {
        width: 100%;
    }
}

.input-box{
    @media (max-width: 962px) {
        width: 100%;
    }
}

.modal__form-input{
    @media (max-width: 962px) {
        width: 100%;
    }
}





