.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
html{
    font-size: calc(100vw / 1440 * 10);
}
body{
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 400;
    color: #2D384E;
}
.container{
    max-width: 136rem;
    margin: 0 auto;
    @media (max-width: 962px){
        padding: 0 1.5rem;
    }
}



@media (max-width: 962px){
    html{
        font-size: calc(100vw / 360 * 7);
    }
    section{
        overflow: hidden;
    }
}

@media (max-width: 600px){
    html{
        font-size: calc(100vw / 360 * 10);
    }
}

@media (min-width: 1921px){
    html{
        font-size: calc(100vw / 1440 * 7);
    }
}
