.main-section{
    min-height: 100vh;
    background-color: $bg_light_blue;
    border-radius: 0rem 0rem 4rem 4rem;
    padding-top: 16.2rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 5rem;

    @media (max-width: 1124px){
        min-height: 40vh;
    }

    @media (max-width: 600px){
        min-height: 100vh;
    }
    
    .container{
        position: relative;
    }

    &__title{
        margin: auto;
        color: $text;
        max-width: 80rem;
        text-align: center;
    }

    &__suptitle{
        padding: 0rem 3rem 1.2rem 3rem;
        background-color: $primary;
        margin: auto;
        width: 67.7rem;
        border-radius: 1.5rem;
        color: $white;
        margin-bottom: 2.5rem;

        @media (max-width: 962px){
            width: 29rem;
            text-align: center;
            font-size: 2rem;
            padding: 0.8rem 1rem 1rem 1rem;
            margin: auto;
            margin-bottom: 2.5rem;
        }
    }

    &__text{
        max-width: 60rem;
        margin: auto;
        text-align: center;
        margin-bottom: 4.5rem;
    }

    &__btns{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        margin-bottom: 8.6rem;

        @media (max-width: 962px){
            flex-direction: column;
            margin-bottom: 3.5rem;
        }
    }
    
    &__rashet{
        padding: 1.9rem 3.5rem 1.8rem;
        background:  #FFD84F;
        border-radius: 4.1rem;
        color: $text;
        

        @media (max-width: 962px){
            width: 100%;
        }
    }

    &__case{
        padding: 1.9rem 3.5rem 1.8rem;
        background:  $primary;
        border-radius: 4.1rem;
        color: $white;

        @media (max-width: 962px){
            width: 100%;
            background: transparent;
            border: 0.1rem solid $primary;
            color: $text;
        }
    }

    &__descr{
        color: $text;
        text-align: center;

        @media (max-width: 962px){
            width: 100%;
            font-size: 1.2rem;
        }
    }

    .cloud--first{
        position: absolute;
        left: -7rem;
        top: 37.8rem;
        animation: moveAnimation1 20s linear infinite;

        @media (max-width: 962px){
            left: 1.8rem;
            top: 11.8rem;
        }

        svg{
            width: 32.6rem;
            height: 14.3rem;
            @media (max-width: 962px) {
                width: 24.6rem;
                height: 7.3rem;  
            }
        }

        @keyframes moveAnimation1 {
            0% {
                left: 0;
            }
            50% {
                left: calc(100% - 10rem);
            }
            100% {
                left: 0;
            }
        }
    }

    .cloud--second{
        position: absolute;
        right: -7.2rem;
        top: 20.1rem;
        animation: moveAnimation2 20s linear infinite;

        @media (max-width: 962px){
            display: none;
        }

        svg{
            width: 32.6rem;
            height: 14.3rem;
        }

        @keyframes moveAnimation2 {
            0% {
                right: 0;
            }
            50% {
                right: calc(100% - 10rem);
            }
            100% {
                right: 0;
            }
        }
    }

    .cloud--third{
        position: absolute;
        right: -11.1rem;
        bottom: 5.8rem;
        animation: moveAnimation3 20s linear infinite;

        @media (max-width: 962px){
            right: -4.9rem;
            top: 32.8rem;
        }

        svg{
            width: 23.7rem;
            height: 13.7rem;
            @media (max-width: 962px) {
                width: 13.1rem;
                height: 8rem;   
            }
        }

        @keyframes moveAnimation3 {
            0% {
                right: 0;
            }
            50% {
                right: calc(50% - 10rem);
            }
            100% {
                right: 0;
            }
        }
    }
}

.cases{
    padding: 10rem 0 11rem;
    background-color: $white;

    @media (max-width: 962px){
        padding: 5rem 0;
    }

    &__title{
        margin-bottom: 2rem;
        color: $text;
        text-align: center;
    }

    &__tabs{
        max-width: 50rem;
        margin: auto;
        margin-bottom: 3.4rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.1rem solid #D1DAE3;

        @media (max-width: 962px){
            max-width: 100%;
            gap: 2rem;
        }
    }

    &__tab{
        padding-bottom: 1.5rem;
        position: relative;
        transition: all 0.3s;

        @media (max-width: 962px){
            text-align: center;
            width: 50%;
        }

        @media (max-width: 600px){
            text-align: left;
            width: 50%;
        }


        &.active::before{
            content: '';
            position: absolute;
            bottom: -0.15rem;
            left: 0;
            background-color: $primary;
            width: 100%;
            height: 0.2rem;
        }

        &:hover{
            color: $primary;
            transition: all 0.3s;
        }
    }

    &__text{
        max-width: 82rem;
        margin: auto;
        text-align: center;
        color: $text_light;
        margin-bottom: 6rem;

        @media (max-width: 962px){
            margin-bottom: 3rem;
         }
    }

    &__block{
        background-color: $bg_light;
        border-radius: 3rem;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem 1rem 5.5rem;
        display: none;
        // &:nth-child(2){
        //     .cases__item{
        //         border-radius: 40rem;
        //     }
        //     .cases__number{
        //         border-radius: 50%;
        //     }
        //     .cases__item.active{
        //         .cases__number{
        //             color: $text;
        //             background-color: #fff;
        //         }
        //     }
        //     .cases__item{
        //         .cases__number{
        //             background-color: transparent;
        //             border: 0.1rem solid rgba(0, 0, 0, 0.20);
        //         }
        //     }
        // }
        @media (max-width: 962px){
           flex-direction: column;
           padding: 0.5rem;
        }

        &.active{
            display: flex;
        }
    }

    &__img{
        width: 63rem;
        height: 45.1rem;

        @media (max-width: 962px){
            width: 100%;
            height: 21.7rem;
        }

        @media (max-width: 600px){
            width: 32rem;
            height: 21.7rem;
        }

        img{
            width: 63rem;
            height: 45.1rem;
            border-radius: 2.5rem;
            @media (max-width: 962px){
                width: 100%;
                height: 21.7rem;
                object-fit: cover;
                object-position: top center;
            }
            @media (max-width: 600px){
                width: 32rem;
                height: 21.7rem;
            }
    
        }
    }

    &__info{
        max-width: 55.5rem;

        @media (max-width: 962px){
            max-width: 100%;
            padding: 1.5rem 0.7rem 1.5rem 1rem;
         }
    }

    &__info-text{
        font-weight: 600;
        color: $text;
        margin-bottom: 3.5rem;

        @media (max-width: 962px){
            margin-bottom: 2rem;
        }
    }


    &__item{
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 2rem;
        border-radius: 1.2rem;
        color: $text_light;
        font-weight: 600;
        transition: all 0.3s;
        position: relative;

        @media (max-width: 962px){
            padding: 1rem 1.5rem;
        }

        &.active{
            background-color: $primary;
            color: $white;
            .cases__number{
                color: $primary;
            }
            &:hover{
                color: #fff;
            }
        }
        &:hover{
            transition: all 0.3s;
            color: $primary;
        }
    }

    .info{
        margin-top: 0.5rem;
        margin-left: -1rem;
        cursor: pointer;
        position: relative;

        @media (max-width: 962px){
            position: absolute;
            left: 40rem;
            top: 0.8rem;
        }

        @media (max-width: 600px){
            display: none;
        }

        &:hover .info__content{
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
            @media (max-width: 962px){
                position: absolute;
                top: -9rem;
                left: -26rem;
            }
        }

        &:hover svg path{
            fill: $hover;
            transition: all 0.3s;
            stroke: $hover;

            &:nth-child(2){
                stroke: $white;
            }

            &:nth-child(3){
                stroke: $white;
            }
        }

        svg{
            width: 1.6rem;
            height: 1.6rem;
            transition: all 0.3s;
        }

        &__content{
            position: absolute;
            opacity: 0;
            visibility: hidden;
            color: $text;
            padding: 1rem;
            width: 33rem;
            transition: all 0.3s;
            background-color: $white;
            border-radius: 1rem;
            box-shadow: 0rem 0.5rem 19.2rem 0rem rgba(0, 0, 0, 0.06);
            top: -9rem;
            left: -15rem;
        }
    }

    &__number{
        padding: 1rem 1.5rem;
        background-color: #fff;
        border-radius: 1rem;
        color: $text_light;
        width: 5.5rem;
        height: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 962px){
            display: none;
         }
    }
}

.section__title{
    margin-bottom: 2rem;
    color: $text;
    text-align: center;
}

.section__text{
    max-width: 82rem;
    margin: auto;
    text-align: center;
    color: $text_light;
    margin-bottom: 6rem;

    @media (max-width: 962px){
       margin-bottom: 3rem;
    }
}

// Rates

.rates{
    padding-bottom: 5.5rem;
    padding-left: 2rem;
    background-color: $white;

    @media (max-width: 962px){
        padding-left: 0;
        padding-bottom: 3rem;
    }

    .section__text{
        @media (max-width: 962px){
            padding: 0 1.5rem;
            margin-bottom: 4rem;
        }
    }
    
    .container{

        @media (max-width: 962px){
            padding: 0;
        }
    }

    &__table-wrapper{

        @media (max-width: 962px){
            overflow: scroll;
            width: 100%;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    &__table{
        border-collapse:collapse;

        @media (max-width: 962px){
            width: 100%;
        }
    }

    &__names{
        display: flex;
    }
    &__name{
        padding-bottom: 1rem;
        &:first-child{
            width: 30.9rem;
            @media (max-width: 962px){
                min-width: 10.5rem;
                width: 100%;
            }
        }
        &:nth-child(2){
            width: 51.9rem;
            padding: 0 2.5rem;
            border-left: 0.1rem solid #E8E8E8;

            @media (max-width: 962px){
                min-width: 20.3rem;
                width: 100%;
                padding: 0 0.4rem;
                border: none;
            }

            .rates__items{
                color: #5DB1FF;
            }
        }
        &:nth-child(3){
            width: 48.8rem;
            border-left: 0.1rem solid #E8E8E8;
            padding-left: 2.5rem;

            @media (max-width: 962px){
                min-width: 21.3rem;
                width: 100%;
                padding-left: 0.4rem;
                border: none;
            }
            .rates__items{
                background: #5DB1FF;
                color: #fff;
            }
        }
    }
    &__line{
        display: flex;
        img{
            width: 2.5rem;
            height: 2.5rem;
            @media (max-width: 962px){
                width: 2rem;
                height: 2rem;
                margin-top: 0.3rem;
            }
        }
    }
    &__col{
        padding: 1.1rem 5.1rem 0.9rem;
        @media (max-width: 962px){
            padding: 1.1rem 1.4rem; 
        }
        &:first-child{
            padding: 1.1rem 0rem 0.9rem;
            width: 30.9rem;
            border-bottom: 0.1rem solid #E8E8E8;
            padding-left: 1.8rem;
            @media (max-width: 962px){
                background-color: #F5F9FE;
                min-width: 10.5rem;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
        span{
            width: 2.6rem;
            height: 0.2rem;
            background-color: #6B747C;
        }
        &:nth-child(2){
            width: 51.9rem;
            border-left: 0.1rem solid #E8E8E8;
            border-bottom: 0.1rem solid #E8E8E8;

            @media (max-width: 962px){
                min-width: 20.3rem;
                width: 100%;
                border-left: none;
            }

        }
        &:nth-child(3){
            width: 48.8rem;
            border-left: 0.1rem solid #E8E8E8;
            border-bottom: 0.1rem solid #E8E8E8;
            padding-right: 2.4rem;

            @media (max-width: 962px){
                min-width: 21.3rem;
                width: 100%;
                padding-right: 1.4rem;
            }
        }
        .btn{
            padding: 1.9rem;
            width: 100%;
            border-radius: 4.1rem;
            font-weight: 600;
            @media (max-width: 962px){
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }
    .last__line{
        border-bottom: 0;
        @media (max-width: 962px){
            background-color: #fff;
            border-left: none;
        }
    }
    &__items{
        padding: 1.9rem 2.5rem;
        background-color: #F5F9FE;
        border-radius: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 962px){
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 140%;
            border-radius: 0.8rem;
            padding: 1.3rem 1rem;
        }
        span{
            font-size: 2.4rem;
            @media (max-width: 962px){
                font-size: 1.4rem;; 
            }
        }
    }

    .go-free{
        padding: 1.9rem 0 1.8rem;
        width: 42.8rem;
        margin: auto;
        border-radius: 4.1rem;
        margin-top: 1rem;

        @media (max-width: 962px){
            width: 100%;
            font-size: 1.4rem;
            margin-top: 0;
            font-weight: 600;
        }
    }
    
    .go-job{
        padding: 1.9rem 0 1.8rem;
        width: 42.8rem;
        margin: auto;
        border-radius: 4.1rem;
        margin-top: 1rem;

        @media (max-width: 962px){
            width: 100%;
            font-size: 1.4rem;
            margin-top: 0;
            font-weight: 600;
        }
    }

    .bg-none{

        @media (max-width: 962px){
            background-color: transparent !important;
        }
    }
}

// Aditions

.aditions{
    margin-bottom: 7rem;
    .container{

        @media (max-width: 962px){
            padding: 0;
        }
    }

    &__table{
        border-collapse: collapse;
    }

    &__item{
        background-color: $bg_light;
        border-radius: 2.5rem;
        color: $white;
        transition: all 0.3s;

        @media (max-width: 962px){
            border-radius: 0;
        }
        &:hover{
            background-color: $hover;
            transition: all 0.3s;
            .aditions__item-top{
                color: $white;
            }
            .close span{
                background-color: $white;
            }
        }

        &.active{
            background-color: $white;
            transition: all 0.3s;
            color: $text;
            border: 0.1rem solid $primary;

            .aditions__item-top{
                padding-left: 7.9rem;
                transition: all 0.3s;
                color: #000 !important;

                @media (max-width: 962px){
                    padding-left: 1.5rem;
                    border-bottom: 0.1rem solid $border_light;
                }
            }

            .close{

                span{
                    background-color: $primary;
                }
            }
        }
    }

    &__line{
        display: flex;
    }
    &__names{
        display: flex;
    }
    &__name{
        display: none;
        border-bottom: 0.1rem solid #E8E8E8;
        padding: 0.9rem 1.4rem;
        font-size: 1.2rem;
        color: #6B747C;
        @media (max-width: 962px){
            display: block;
        }
        &:first-child{
            width: 10rem;
        }
        &:nth-child(2){
            width: 13.1rem;
        }
        &:nth-child(3){
            width: 12.9rem;
        }
    }
    &__col{
        img{
            width: 2.5rem;
            height: 2.5rem;
            @media (max-width: 962px){
                width: 2rem;
                height: 2rem;
            }
        }
        @media (max-width: 962px){
            height: 4.3rem;
            display: flex;
            align-items: center;
        }
        padding-bottom: 1rem;
        &:first-child{
            width: 30.1rem;
            border-right: 0.1rem solid #E8E8E8;
            @media (max-width: 962px){
                width: 10rem;
                display: flex;
                align-items: center;
                padding: 0.9rem 0.7rem 0.8rem 1.5rem;
                background-color: #F5F9FE;
                color: #6B747C;
                border-bottom: 0.1rem solid #E8E8E8;
            }
        }
        &:nth-child(2){
            width: 52.3rem;
            padding-left: 5.7rem;
            border-right: 0.1rem solid #E8E8E8;
            @media (max-width: 962px){
                width: 13.1rem;
                padding: 0.9rem 0.7rem 0.8rem 1.5rem;
                border-bottom: 0.1rem solid #E8E8E8;
            }
        }
        &:nth-child(3){
            padding-left: 5.7rem;
            font-weight: 600;
            @media (max-width: 962px){
                width: 12.9rem;
                padding: 0.9rem 0.7rem 0.8rem 1.5rem;
                border-bottom: 0.1rem solid #E8E8E8;
            }
        }
    }

    &__item-top{
        padding: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        color: #000;

        @media (max-width: 962px){
            padding: 2.5rem 1.5rem;
        }
    }

    &__item-content{
        padding: 0 2.9rem;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s;

        @media (max-width: 962px){
            padding: 0;
        }
    }

    .close{
        span{
            display: block;
            min-width: 2.3rem;
            min-height: 2px;
            border-radius: 0.2rem;
            background-color: $primary;
            transition: all 0.3s;

            &:nth-child(2){
                transform: translate(0rem, -0.2rem) rotate(90deg);
                transition: all 0.3s;
            }
        }

        &.active{
            span{
                transform: translate(0rem, 0.13rem) rotate(-45deg);
                transition: all 0.3s;
                &:nth-child(2){
                    transform: translate(0rem, 0rem) rotate(45deg);
                    transition: all 0.3s;
                }
            }
        }
    }
}

// Calc

.calc{
    margin-bottom: 11.1rem;

    @media (max-width: 962px){
        margin-bottom: 5rem;
    }

    &__link{
        cursor: pointer;
        img{
            width: 22.3rem;
            height: 19.5rem;
            
            @media (max-width: 962px){
               display: none;
            }
        }
    }

    &__title{
        text-align: center;
        font-size: 12.6rem;
        font-weight: 900;
        line-height: 130%;
        letter-spacing: -0.126rem;
        color: $primary;
        margin-bottom: 3.3rem;

        @media (max-width: 962px){
            font-size: 4.6rem;
            margin-bottom: 3rem;
         }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2.6rem;

        @media (max-width: 962px){
            display: flex;
            flex-direction: column;
        }
    }

    &__calculator{
        padding: 4.5rem 0rem 0 0;
        background: $bg_light;
        border-radius: 3rem;

        @media (max-width: 962px){
            padding: 2rem 0 0;
         }
    }
    &__calculator-title{
        padding-left: 5.5rem;
        color: $text;
        margin-bottom: 4rem;
        padding-right: 4rem;

        @media (max-width: 962px){
            font-size: 1.9rem;
            padding-left: 2rem;
            padding-right: 0;
            margin-bottom: 2.5rem;
        }
    }

    &__range{
        &:nth-child(1){
            width: 24.5rem;

            @media (max-width: 962px){
                width: 100%;
            }
        }

        &:nth-child(2){
            width: 24.5rem;

            @media (max-width: 962px){
               width: 100%;
            }
        }

        &:nth-child(3){
            width: 100%;
        }
    }

    &__form{
        padding: 0 5.8rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem 6rem;

        @media (max-width: 962px){
            padding-left: 2rem;
            padding-right: 2rem;
        }

        input[type=range] {
            -webkit-appearance: none;
            margin: 1.1rem 0;
            width: 100%;
            position: relative;
            z-index: 777;
            pointer-events: all;
          }

          input[type=range]:focus {
            outline: none;
          }

          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 0.2rem;
            cursor: pointer;
            background: $primary;
            transition: all 0.3s;
            border-radius: 0.2rem;
          }

          input[type=range]::-webkit-slider-thumb {
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 50%;
            background: $primary;
            -webkit-appearance: none;
            margin-top: -0.8rem;
            border: 0.2rem solid $white;

            &:hover{
                background-color: $hover;
                transition: all 0.3s;
            }
          }

        .calc__range {
            position: relative;
        }

        .digit{
            display: flex;
            justify-content: space-between;
            padding-top: 0.1rem;
            span{
                font-size: 1.2rem;
            }
        }

        .line-step{
            position: absolute;
            display: flex;
            left: 0;
            right: 0;
            justify-content: space-between;
            top: 1rem;
            
            span{
                display: block;
                width: 0.3rem;
                height: 1rem;
                background-color: $primary;
                border-radius: 0.2rem;
            }
        }
    }
    &__block{
        background-color: #fff;
        height: 6rem;
        border-radius: 0.8rem;
        padding: 0 1rem;
        .num{
            padding: 1.8rem 1rem 0.6rem 1rem;
            display: block;
        }
    }

    &__lable{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 1rem;
        &:hover{
            input[type="checkbox"]:checked + label:before{
                border: 0.1rem solid $hover_yellow;
                transition: all 0.3s;
            }

            input[type="checkbox"]:not(:checked) + label:before{
                border: 0.1rem solid $hover_yellow;
                transition: all 0.3s;
            }

        }

        input{
            width: 2.5rem;
            height: 2.5rem;
        }

        input[type="checkbox"]:checked, 
        input[type="checkbox"]:not(:checked){
            position: absolute;
            left: -9999px;
        }

        input[type="checkbox"]:checked + label:before, 
        input[type="checkbox"]:not(:checked) + label:before{
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 2.4rem;
            height: 2.4rem;
            border: 0.1rem solid #D1DAE3;
            background-color: transparent;
            border-radius: 0.4rem;
            transition: all 0.3s;
        }

        label{
            padding-left: 4rem;
            color: $text;
        }

        input[type="checkbox"]:checked + label:after, 
        input[type="checkbox"]:not(:checked) + label:after {
            content: "";
            position: absolute;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        input[type="checkbox"]:checked + label:after, 
        input[type="checkbox"]:not(:checked) + label:after {
            left: 0;
            top: 0;
            width: 2.4rem;
            height: 2.4rem;
            background: url('../images/checkbox.svg');
            background-size: cover;
            border-radius: 0.4rem;
        }

        input[type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
        }

        input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }
    }

    &__block{
        position: relative;
    }

    &__range-name{
        padding-bottom: 1.2rem;
        font-size: 1.4rem;
        color: #6B737C;
        @media (max-width: 962px){
            padding-bottom: 1rem;
        }
    }

    &__itog{
        margin-top: 4.5rem;
        width: 100%;
        background-color: $primary;
        padding: 2.8rem 4rem 2.5rem 5.5rem;
        display: flex;
        justify-content: space-between;
        border-radius: 2rem;
        align-items: center;

        @media (max-width: 962px){
           padding: 1.5rem;
           margin-top: 2.5rem;
        }
    }

    &__itog-text{
        color: $white_70;

        @media (max-width: 962px){
            font-size: 1.2rem;
        }
    }

    &__itog-btn{
        padding: 1.8rem 3.5rem 1.9rem;
        border-radius: 4.1rem;

        @media (max-width: 962px){
            font-size: 1.4rem;
            padding: 1.5rem;
        }
    }

    &__itog-price{
        color: $white;

        @media (max-width: 962px){
            font-size: 2rem;
        }
        
    }

    &__link{
        padding: 4.3rem 4.5rem 5rem;
        border-radius: 2rem;
        border: 0.1rem solid $primary;
        height: 62rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s;

        @media (max-width: 962px){
            height: auto;
            padding: 1.5rem 1.5rem 1.8rem 1.5rem;
        }

        svg{
            width: 22.4rem;
            height: 19.5rem;
        }

        &:hover{
            background-color: $bg_light;
            transition: all 0.3s;
            .calc__link-btn{
                background-color: $hover_yellow;
            }
        }
    }

    &__link-content{

        
    }

    &__svg{
        @media (max-width: 962px){
            display: none;
        }
    }

    &__link-name{
        margin-bottom: 1.1rem;
        color: $primary;
        @media (max-width: 962px){
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    &__link-text{
        color: $text;
        margin-bottom: 4.5rem;
        @media (max-width: 962px){
            font-size: 1.6rem;
            margin-bottom: 2.5rem;
        }
    }

    &__link-btn{
        padding: 1.9rem 3.5rem;
        font-size: 1.8rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4.1rem;
        margin-top: 8.5rem;
        margin-bottom: 3.8rem;
        @media (max-width: 962px){
            margin-top: 2rem;
            margin-bottom: 0rem;
            width: 100%;
        }
    }
    &__range-top{
        display: flex;
        gap: 0.3rem;
        align-items: center;
        span{
            display: block;
            margin-top: -0.7rem;
            svg{
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
    &__items{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }
    &__item{
        display: flex;
        font-size: 1.8rem;
        font-weight: 700;
        gap: 0.3rem;
        span{
            font-weight: 700;  
        }
        p{
            margin-top: -0.2rem;
            font-weight: 400; 
        }
    }
    &__link{
        position: relative;
    }
    &__form-line{
        display: flex;
       svg{
            width: 2.5rem;
            height: 2.5rem;
            @media (max-width: 962px){
                width: 1.5rem;
                height: 1.5rem;
            }
       }
    }
    &__form-item{
       width: 25.8rem;
       padding: 1.1rem 2.4rem 0.9rem;
       border: 0.1rem solid #bbb;
       font-size: 1.8rem;
        border-top: none;
        &:nth-child(2){
            border-left: none;
        }
        @media (max-width: 962px){
            margin-bottom: 0rem;
            font-size: 1.2rem;
            padding: 0.86rem 0.9rem;
            &:nth-child(1){
                width: 50%rem;
                background-color: #f5f9fe;
            }
            &:nth-child(2){
                width: 50%;
                font-weight: 600;
                font-size: 1.6rem;
            }
        }
        @media (max-width: 500px){
            &:nth-child(1){
                width: 11rem;
            }
            &:nth-child(2){
                width: 19rem;
            }
        }
    }
    &__form-line:nth-child(1) .calc__form-item{
        border-top: 0.1rem solid #bbb;
    }
}

.calc__range:nth-child(3){
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    @media (max-width: 962px){
        margin-bottom: 0rem;
     }
}

.calc__link img{
    width: 17.7rem;
    height: 15.6rem;  
    position: absolute;
    right: 2.26rem;
    bottom: 2.4rem;
}

.why{
    background-color: $white;
    padding-bottom: 11.1rem;

    @media (max-width: 962px){
       padding-bottom: 5rem;
    }

    .section__title{
        margin-bottom: 5.4rem;

        @media (max-width: 962px){
            margin-bottom: 3rem;
            text-align: left;
         }
    }

    &__wrapper{
        display: grid !important;
        grid-template-columns: repeat(4,1fr);
        gap:4.3rem 3rem;

        @media (max-width: 962px){
            display: flex !important;
            gap: 0;
        }
    }

    .swiper-slide{

        @media (max-width: 962px){
            width: 27.8rem;
        }
    }

    &__name{
        margin-bottom: 1rem;
    }

    &__icon {
        width: 7.9rem;
        height: 8.5rem;
        margin-bottom: 2rem;
        position: relative;

        svg:nth-child(1){
            width: 7.9rem;
            height: 8.5rem;
        }

        svg:nth-child(2){
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-75%,-40%);
            width: 3rem;
            height: 3rem;
        }
    }

    &__text{
        color: $text-light;
    }
}

.newsletter{
    background-color: $white;
    padding-bottom: 11rem;

    @media (max-width: 962px){
        padding-bottom: 5rem;
    }

    .container{
        border-radius: 2.5rem;
        background-color: $primary;
        padding: 4.6rem 6rem 5.4rem;
        display: flex;
        justify-content: space-between;

        @media (max-width: 962px){
            flex-direction: column;
            padding: 2rem 2rem 2.5rem;
            margin: 0 1.5rem;
        }
    }

    &__title{
        max-width: 60.5rem;
        color: $white;

        @media (max-width: 962px){
            margin-bottom: 2.5rem;
            max-width: 100%;
        }

        @media (max-width: 600px){
            margin-bottom: 2.5rem;
            max-width: 25.5rem;
        }

        span{
            color: $btn;
        }
    }

    &__form{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        flex-wrap: wrap;
        width: 53.9rem;

        @media (max-width: 962px){
            flex-wrap: nowrap;
            flex-direction: column;
            width: 100%;
        }
    }

    &__form-descr{
        font-size: 1.2rem;
        line-height: 140%;
        color: $white_70;

        a{
            display: inline;
            color: $white;
            transition: all 0.3s;
            text-decoration: underline;
            text-underline-offset: 0.3rem;
            text-decoration-color: transparent;
            &:hover{
                color: $btn;
                text-decoration: underline;
                text-decoration-color: $btn;
                text-underline-offset: 0.3rem;
                transition: all 0.3s;
            }
        }
    }

    .block-input{
        @media (max-width: 962px){
            width: 100%;
        }
    }

    &__form-input{
        width: 31.2rem;
        padding: 1.9rem 2rem;
        border-radius: 10rem;
        background-color: $white;
        border: none;
        outline: none;
        transition: all 0.3s;
        border: 0.2rem solid transparent;

        &::placeholder{
            color: rgba(107, 116, 124, 0.50);
        }

        @media (max-width: 962px){
            width: 100%;
        }
    }

    &__form-btn{
        padding: 1.9rem 3.5rem 1.8rem;
        border-radius: 4.1rem;
        font-weight: 600;

        @media (max-width: 962px){
            width: 100%;
        }
    }

    .error-txt{
        font-size: 1.2rem;
        color: #FFBBAC;
        display: none;
    }

    .newsletter__form.error{

        .error-txt{
            display: block;
        }

        .newsletter__form-input{
            border: 0.2rem solid #FFBBAC;
            transition: all 0.3s;
        }
    }
}

.multifunctional{
    background-color: $white;
    position: relative;
    .section__title{
        @media (max-width: 962px){
            margin-bottom: 3rem;
            text-align: left;
         }
    }

    .section__text{
        @media (max-width: 962px){
            text-align: left;
         }
    }

    &__cloud1{
        position: absolute;
        left: -3.5rem;
        top: -7.3rem;

        @media (max-width: 962px){
            display: none;
        }

        svg{
            width: 25.1rem;
            height: 11rem;
        }
    }

    &__cloud2{
        position: absolute;
        right: 0rem;
        svg{
            width: 23.7rem;
            height: 13.7rem;

            @media (max-width: 962px){
                display: none;
            }
        }
    }

    &__wrapper{
        display: grid !important;
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;
        margin-bottom: 11.5rem;

        @media (max-width: 962px){
            margin-bottom: 5.1rem;
            display: flex !important;
            gap: 0;
        }

        .swiper-slide{
            height: 37.9rem;
            display: flex;
            @media (max-width: 962px){
                width: 28.8rem;
                height: 36.2rem;
            }
        }
    }

    &__item{
        border-radius: 20px;
        border: 0.1rem solid  $primary;
        background: $white;
        padding: 2.5rem 3rem;
        height: 39.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s;
        cursor: pointer;
        
        @media (max-width: 962px){
            padding: 1rem 1.5rem 2rem;
        }

        &:hover{
            background-color: $bg_light;
            border: 0.1rem solid  $hover;
            .multifunctional__item-link{
                background-color: $hover_yellow;
                transition: all 0.3s;
            }
        }

        &:last-child{
           .multifunctional__item-icon{
            svg:nth-child(2){
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-65%,-40%);
            }
           } 
        }
    }

    &__item-icon{
        position: relative;
        width: 7.9rem;
        height: 8.5rem;

        svg:nth-child(1){
            width: 7.9rem;
            height: 8.5rem;
        }

        svg:nth-child(2){
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-75%,-40%);
        }
    }

    &__item-name{
        color: $text;
        margin-bottom: 1.5rem;
        @media (max-width: 962px){
            font-size: 2rem;
            max-width: 21rem;
        }
    }

    &__item-text{
        color: $text_light;
    }

    &__item-link{
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $btn;
        border-radius: 50%;
        transition: all 0.3s;
        position: relative;
        z-index: 7;

        svg{
            width: 1.9rem;
            height: 1.3rem;
        }
    }

    &__inner{
        position: relative;
        padding-bottom: 9rem;
        display: flex;
        gap: 7rem;


        @media (max-width: 962px){
            padding: 3.5rem 0 5rem;
            flex-direction: column;
            gap: 3rem;
            padding-top: 0;
            padding-bottom: 13rem;
            position: relative;
        }
    }

    &__digit{
        position: sticky;
        top: 7rem;
        display: flex;
        gap: 3rem;
        align-items: flex-start;
        max-width: 60.7rem;
        height: 33rem;

        @media (max-width: 962px){
            position: static;
            margin-bottom: 0rem;
            height: auto;
            max-width: 100%;
        }
    }

    &__digit-num{
        font-size: 30rem;
        font-weight: 800;
        letter-spacing: -0.3rem;
        color: $primary;
        margin-top: -5rem;

        @media (max-width: 962px){
            font-size: 16rem;
            margin-top: -3rem;
        }
    }

    &__digit-title{
        margin-bottom: 2rem;

        @media (max-width: 962px){
            font-size: 2rem;
        }
    }

    &__digit-text{
        color: $text_light;
        margin-bottom: 3rem;
    }

    &__digit-btn{
        padding: 1.9rem 3.5rem 1.8rem;
        border-radius: 4.1rem;
        font-weight: 600;

        @media (max-width: 962px){
            position: absolute;
            width: 100%;
            left: 0rem;
            bottom: 5rem;
        }
    }

    &__list-item{
        display: flex;
        padding: 2.2rem 0rem;
        gap: 2rem;
        align-items: center;
        border-bottom: 0.1rem solid $border_light;
        width: 66.1rem;

        @media (max-width: 962px){
            width: 100%;
        }

        &:first-child{
            border-top: 0.1rem solid $border_light;
        }
    }

    &__list-num{
        color: $primary;
        padding: 1.5rem 1.7rem;
        border-radius: 1rem;
        background: $bg_light;
        height: 5.5rem;
    }

    &__list-name{
        margin-bottom: 0.4rem;
    }

    &__list-text{
        color: $text_light;
        @media (max-width: 962px){
            font-size: 1.4rem;
        }
    }
    &__slider{
        margin-bottom: 11rem;
        @media (max-width: 962px){
            margin-bottom: 5.1rem;
        }
    }
}

// FAQ

.faq{
    background-color: $bg_light_blue;
    position: relative;
    padding-top: 9rem;
    padding-bottom: 7.1rem;
    border-radius: 4rem 4rem 0rem 0rem;

    @media (max-width: 962px){
        padding: 3.5rem 0 5rem;
    }

    .container{
        position: relative;
    }

    &__question-title{
        @media (max-width: 962px){
            max-width: 26.2rem;
        }
    }

    &__cloud1{
        position: absolute;
        left: 40.9rem;
        top: 32.4rem;

        @media (max-width: 962px){
            display: none;
        }

        svg{
            width: 32.6rem;
            height: 14.3rem;
        }
    }

    &__cloud2{
        top: 48.1rem;
        left: -5.1rem;
        position: absolute;

        @media (max-width: 962px){
            display: none;
        }

        svg{
            width: 32.6rem;
            height: 14.3rem;
        }
    }

    &__cloud3{
        position: absolute;
        top: 66.8rem;
        left: 33.7rem;

        @media (max-width: 962px){
            display: none;
        }

        svg{
            width: 23.7rem;
            height: 13.7rem;
        }
    }

    &__top{
        display: flex;
        gap: 15rem;
        margin-bottom: 9rem;

        @media (max-width: 962px){
            flex-direction: column;
            gap: 1.5rem;
            margin-bottom: 5rem;
        }
    }

    &__content{
        position: sticky;
        top: 7rem;
        width: 100%;
        max-width: 40.9rem; 
        max-height: 20rem; 

        @media (max-width: 962px){
            position: static;
        }
    }

    &__title{
        margin-bottom: 3.5rem;
        color: $text;

        @media (max-width: 962px){
            margin-bottom: 2rem;
        }
    }

    &__descr{
        padding: 1.3rem 2.5rem;
        border-radius: 1rem;
        background-color: $primary;
        color: $white;

        a{
            display: inline;
            color: $white;
            text-decoration: underline;
            text-underline-offset: 0.4rem;
            transition: all 0.3s;

            &:hover{
                color: $hover_yellow;
                transition: all 0.3s;
            }
        }
    }

    &__question{
        padding: 2rem;
        background-color: $white;
        border-radius: 1.5rem;
        box-shadow: 0rem 0.4rem 2.5rem 0rem rgba(125, 145, 166, 0.09);
        margin-bottom: 1rem;
        cursor: pointer;
    }

    &__question-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        position: relative;
        @media (max-width: 962px){
            gap: 1.5rem;
        }
    }

    .close{
        position: absolute;
        pointer-events: none;
        top: 1rem;
        right: 1rem;
        @media (max-width: 962px){
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            right: 0rem;
        }
        span{
            display: block;
            min-width: 2.3rem;
            min-height: 2px;
            border-radius: 0.2rem;
            background-color: $primary;
            transition: all 0.3s;

            &:nth-child(2){
                transform: translate(0rem, -0.2rem) rotate(90deg);
                transition: all 0.3s;
            }
        }

        &.active{
            span{
                background-color: $text;
                transform: translate(0rem, 0.2rem) rotate(-45deg);
                transition: all 0.3s;
                &:nth-child(2){
                    transform: translate(0rem, 0rem) rotate(45deg);
                    transition: all 0.3s;
                }
            }
        }
    }

    &__action{
        padding: 1.2rem 5.6rem 5.3rem;
        background-color: $primary;
        border-radius: 3rem;

        @media (max-width: 962px){
            padding: 2rem 1.5rem 2.5rem;
        }
    }

    &__action-title{
        font-size: 11.9rem;
        font-weight: 900;
        color: $white;
        padding-bottom: 1.8rem;
        border-bottom: 0.1rem solid $white;
        margin-bottom: 4.5rem;

        @media (max-width: 962px){
            font-size: 4.5rem;
            margin-bottom: 2rem;
        }
    }

    &__question-content{
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s;
        color: $text_light;

        &.visible{
            max-height: 100%;
            transition: all 0.3s;
            margin-top: 1.5rem;
        }
    }

    &__action-inner{
        display: flex;
        gap: 6.8rem;

        @media (max-width: 962px){
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__action-text{
        color: $white;
    }

    &__action-btn{
        padding: 1.9rem 3.5rem;
        border-radius: 4.1rem;
        white-space: nowrap;
        font-weight: 600;
    }
}

.calc__form input[type="range"]{
    position: relative;
    z-index: 1;
}

.input-box{
    .error-txt{
        opacity: 0;
        margin-top: 0.5rem;
        visibility: hidden;
        color: #FFBBAC;
        font-size: 1.2rem;
    }
    .error-txt.active{
        opacity: 1;
        visibility: visible;
    }
}